.bio{
    display: flex;
}

.bioImageComponent{
    
    img{
        width: 10em;
        border-radius: 50%;
    }
}

.metaComponent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5em;
    margin-left: .5em;
}

.bioNameComponent{

}

.bioRoleComponent{
    font-size: .5em;

}

.bioEmailComponent{
    display: flex;
    align-items: center;
    font-size: .5em;
    padding-top: .5em;
    color: rgb(71, 71, 71);
    cursor: pointer;
    
    &:hover{
        svg{
            transform: rotate(360deg) scale(1.3);
            background:lightsalmon;
            border-radius: .5rem;
            transition: 500ms;
        }
    }
    
    svg{
        transition: 500ms;
        margin-right: .5em;
       
    }

}

@media only screen and (max-width :560px){
    .bio{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .bioEmailComponent{
        display: flex;
        flex-direction: column;
    }
}