.container{
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
}

.itemContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

}


.itemContainer{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
    
}