.mainContainer{
    height: 100vh;
    background-color: #50514F;
    color: #D1DEDE;
    justify-content: center;
    text-align: center;
    padding-top: 3.5em;
    h1{
        margin-top: 0
    }
}

.skillColumn{
    column-count: 3;
    flex-direction: row;
    align-items: center;

    .col{
        flex-direction: column;
    }


    img{
        border-radius: 25px;
        border: wheat;
        padding:.5em;
        height:auto;
        width: 45%;
        filter: blur(2px);
        &:hover{
            padding:.5em;
            filter: blur(0px);
            width: 45%;
            height: 45%;
            transition:500ms

        }
    }
}