.navbar{
    display: flex;  
    position: fixed;
    color: azure; 
    width: 100%;
    background-color: none;
    line-height: 2.5em;
    z-index: 5;
}

.navbarContent{
    display: flex;
    flex-grow: 2;
    padding: 1em;

    ul{
        margin:0;
    }

    &:last-child{
        margin-right: 0;
    }
    
}

.navbarlogo{
    font-size: 1.5em;
    flex-grow: 1;
    padding-left: 2em;
    // font-weight: 100;
    cursor: default;

    
    span{
        font-family: 'Overpass';
        font-weight: 800;
        padding: .2em;
        background: none;
        transition: 500ms;
    }
    
}

.navbarpages{
    display: flex;
    list-style: none;
    font-size: 1.5em;
    padding-left: 2.5em;
    font-weight: 100;
    li{

        padding: 0em 3em 0em 3em;
        border-right:1px solid white;
        cursor: default ;
        &:last-child{
            border-right:none
        }


    }
    

    
}

@media screen and (max-width: 560px) {

    .navbar { 
       font-size: 2em; 
    }

    .navbarContent{
        display: flex;
        // flex-grow: 2;
        padding: 1em;
        margin-right: 3.5em;
    }

    .navbarlogo{
    font-size: 1.5em;
    flex-grow: 1;
    padding-left: 0;
    font-weight: 100;

    span{
        padding: .2em;
        background: none;
        transition: 500ms;
    
    }
    
}
 
 }

 @media screen and (max-width:425px){
    .navbarContent{
        display: hidden ;
    }

    .navbarpages{

        li{
            display: none;
        }
    }
    
 }