
.main {  
  height: 100vh;
  min-height: 100vh;
  overflow-y: hidden;
  background-position: center;   
  background-repeat: no-repeat;
  background-color: #070707;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



